{% extends "base.html" %}
{% load static %}

{% block title %}{{ course.title }}{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/course-details.css" %}">
{% endblock  %}

{% block content %}
<section id="summary">
    <h2>{{ course.title }}</h2>

    <div>
        {% for tag in course_tags %}
            <span class="tag">#{{ tag.caption }}</span>
        {% endfor %}
    </div>

    <article>
        <img src="{% static "blog/images/"|add:course.image_name %}" alt="Course Title">
        <address>By <a href="mailto:{{ course.instructor.email_address }}">{{ course.instructor }}</a></address>
        <div>
            Last updated on <time>{{ course.date }}</time>  
        </div>
    </article>
</section>

<main>
    <p>{{ course.content|linebreaks }}</p>
</main>
{% endblock %}