{% extends "base.html" %}
{% load static %}

{% block title %}This Post Title{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-details.css" %}">
{% endblock  %}

{% block content %}
<section id="summary">
    <h2>Post Title</h2>

    <article>
        <img src="{% static "blog/images/image_3.png" %}" alt="Post Title">
        <address>By Pat</address>
        <div>
            Last updated on <time>December 7th</time>  
        </div>
    </article>
</section>

<main>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde, vitae deserunt et provident officia commodi neque voluptatem eligendi dolores reiciendis delectus! Voluptatibus maxime quis quisquam, nisi ullam velit exercitationem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde, vitae deserunt et provident officia commodi neque voluptatem eligendi dolores reiciendis delectus! Voluptatibus maxime quis quisquam, nisi ullam velit exercitationem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde, vitae deserunt et provident officia commodi neque voluptatem eligendi dolores reiciendis delectus! Voluptatibus maxime quis quisquam, nisi ullam velit exercitationem.
    </p>
</main>
{% endblock %}