.container .column h3 {
  color: #700cce; /* Change the text color */
  font-size: 1.5rem; /* Adjust the font size */
  font-weight: bold; /* Make the font bold */
  margin-bottom: 1rem; /* Add some space below each heading */
  padding-bottom: 0.5rem; /* Add some padding at the bottom */
  text-transform: uppercase; /* Optional: Transform text to uppercase */
}


.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .course a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    padding: 1rem;
  }
  
  .course a:hover,
  .course a:active {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
  }
  
  .course img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .course h3 {
    margin: 0.25rem 0;
  }
  
  .course time {
    color: #666666;
    margin: 0.25rem;
    font-style: italic;
    font-size: 0.85rem;
  }
  
  .course:hover time,
  .course:active time {
    color: white;
  }

  .xyz {
    font-size: large;
    background-color: white; /* Set the background color to white */
    border-radius: 20px;     /* Rounded corners, adjust radius as needed */
    padding: 30px;           /* Space inside the box */
    margin: 10px;            /* Space outside the box */
    /* Additional optional styles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
}
