#welcome {
  /* position: relative; */
  /* background: linear-gradient(to right top, #6305dd, #390281); */
  padding: 6rem 12%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: -1; /* Ensures the image stays in the background */
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#authorPhoto {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  object-position: center;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h1 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #000000;
  /* width: 40rem; */
}

#welcome p {
  color: white;
  font-size: 1.5rem;
}

#latest-courses {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-courses h2 {
  text-align: center;
}

#latest-courses ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-courses li {
  flex: 1;
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}
