{% load static %}

<div class="container">
    <div class="column">        <h1>Aktuelles</h1>

        <div>
           <h3>Neue Kurse</h3> 

            Andreas hat nach seinem erfolgreichen Kurs „Food Science“ nun mit „Junior Astrophysik III“ bereits seinen zweiten Kurs gestartet. Schaut gerne mal vorbei.
            Marie leitet ab jetzt den Kurs Biologie
            Und ab Januar gibt es regelmässig die Kreativwerkstatt bei Jasna sowie als Ferienkurs im Dezember
        </div>

        <div>
            <h3>Ferienkurse in den Winterferien</h3> 
 
            Die ersten Ferienkurse sind ab jetzt in unserer Übersicht eingetragen und man kann sich anmelden infho.eu/kurse/ferienkurse
         </div>

         <div>
            <h3>Renovieren am 9.6. + 10.6.</h3> 
            Ab dem 9.6. stehen in unserer Vereinsvilla in der Schmarjestrasse Renovierungsarbeiten an (Wände Streichen, Fensterrahmen schleifen, Böden verlegen,…). Wir werden die folgenden Tage dort sein und freuen uns über jede zusätzliche Hand!
         </div>

         <div>
            <h3>Villa Schmarjestraße – unser Vereinshauptquartier</h3> 
            An unserem Vereinsstandort in der Schmarjestraße 14, 14169 Berlin, wird weiter fleißig gearbeitet. Aktuell finden im Erdgeschoss grundlegende Umbaumaßnahmen statt, sodass die Villa in den Wintermonaten nicht als Kursort zur Verfügung stehen wird. Die Präsenzkurse weichen daher auf unsere vielseitigen Räume in der Zinnowwald-Grundschule aus. Generelle Infos zur Villa findet ihr zum Beispiel beim Tagesspiegel.         </div>

         <div>
            <h3>Interview mit der Deutschen Welle</h3> 
            Liebe Mitglieder, wir wurden von der Deutschen Welle für ein Interview zum Thema Hochbegabung angefragt. Das Ergebnis gibt es bei Youtube zu sehen.

            Franz-Josef hat mit der Deutschen Welle eine knappe Viertelstunde zu dem Thema gesprochen – und ja, er sitzt in einer Kontrollbox für seinen Avatar (siehe Youtube Kommentare 😉 ).         </div>

         
    </div>


    <div class="column"><h1>Programm</h1>


        <div>
            <h3>Beratung und Elterntreff</h3> 
 
            Unser Beratungsprogramm findet wieder statt! Ab November (2.11.2022) monatlich jeden ersten Mittwoch um 20 Uhr,  mit Jasna Bronić Miklin.
            Bei Fragen rund um das Thema Hochbegabung meldet euch jederzeit gerne an info@infho.eu.
             </div>


        <div>
            <h3>Weitere Neuigkeiten </h3> 
            Neuer Blog
            Unser neuer Blog ist jetzt live 😎
            Hier werden wir ab jetzt immer wieder Neuigkeiten über unsere Kurse, Themen über den Verein, unsere Standorte und vieles mehr posten! Schaut doch einfach mal vorbei auf infho.eu/blog
            Renovieren ab dem 18.05.
            Bibliotheksupdate
            KinderUni Lichtenberg
            Die kommenden Kurstermine kann man in unserem Kalender nachschauen.
            
         </div>
        
    </div>
</div>
